*{
    font: "/font/Unique-VF";
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-image: url("/frontend/media/login_back.png");
    
}

input[type="email"], input[type="password"], input[type="file"] {
    padding: 10px;
    margin: 10px;
    width: 200px;
}

button {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: #e69138ff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    display: none;
}

#profile-section {
    position: absolute;
    top: 10px;
    right: 10px;
}

footer {
    margin-top: 50px;
    padding: 20px;

    color: #555;
    font-size: 14px;
}

header {
    padding: 20px;
    margin-bottom: 30px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

#auth-box {

    color: #e69138ff;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 90px;
    padding-top: 50px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1mm solid;
    border-radius: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#auth-box h3 {
    margin-bottom: 20px;
    color: #e69138ff;
}

#auth-box p {
    color:#e69138ff;
    font-size: 14px;
    margin-top: 10px;
}

input[type=text] {
    border: 2px #e69138ff;
    border-radius: 4px;
  }

/* Hide the sign-up form by default */
#signup-form {
    color: #e69138ff;
    display: none;
}

#login-form {
    color: #e69138ff;
    display: block;
}

